/* Close button behavior */

/* Hide the close button by default */
#TabsToolbar .close-icon {
  display: none !important;
}

/* Show the close button on hover */
#TabsToolbar .tabbrowser-tab:not([pinned]):hover .close-icon {
  display: inline-block !important;
}

/* Show the close button on selected tab */
/* #TabsToolbar .tabbrowser-tab[selected]:not([pinned]) .close-icon {
    display: inline-block !important;
} */

/* Tab bar */

/* Remove the separator */
#tabbrowser-tabs {
  border-inline-start: none !important;
}

/* Slim down the context menus */
#context-inspect-a11y, /* Inspect Accessibility Properties */
#context-sep-setbackground,
#context-setDesktopBackground, /* Set As Desktop Background */
#context-sendimage, /* Email Image */
#context-sendvideo, /* Email Video */
#context-sendaudio, /* Email Audio */
#context-sendlink /* Email Link */ {
  display: none !important;
}
